<div class="sponsor-logos">
  <h2>Diamond Sponsor</h2>
  <%= render 'sponsor', src: 'sponsors/db-networks-logo.png', href: 'http://dbnetworks.com', name: nil %>
  <p>DB Networks is focused on providing security products that provide continuous monitoring at the database tier and to accurately identify database attacks through our complex behavioral analysis technology.</p>
  <h3>Platinum Sponsors</h3>
  <%= render 'sponsor', src: 'sponsors/qualys.png', href: 'https://www.qualys.com/', name: 'qualys' %>
  <p>The QualysGuard Cloud Platform and integrated suite of solutions helps businesses simplify security operations and lower the cost of compliance by delivering critical security intelligence on demand and automating the full spectrum of auditing, compliance and protection for IT systems and web applications.</p>
  <%= render 'sponsor', src: 'sponsors/SecurityInnovation.png', href: 'https://www.securityinnovation.com/', name: 'secinnovation' %>
  <p>Security Innovation focuses on the most difficult problem of IT security, and the root cause of most data breaches – insecure software applications. For more than a decade, we have helped organizations like Microsoft, ING, GoDaddy.com, Progress Energy, Nike and others build internal expertise, uncover critical vulnerabilities, and integrate security into their software development lifecycle (SDLC). Our solutions are based on the three pillars of a secure Software Development Lifecycle (SDLC), which feed into one another to create an ecosystem of repeatable, secure software development and deployment: Standards, Education, and Assessment.</p>
  <h3>Gold Sponsors</h3>
  <%= render 'sponsor', src: 'sponsors/accuvant.jpg', href: 'https://www.accuvant.com/', name: 'Accuvant' %>
  <%= render 'sponsor', src: 'sponsors/appsecconsulting.png', href: 'https://www.appsecconsulting.com/', name: 'appsecconsult' %>
  <%= render 'sponsor', src: 'sponsors/arxan.jpg', href: 'http://www.arxan.com/', name: 'arxan' %>
  <%= render 'sponsor', src: 'sponsors/astech.jpg', href: 'https://www.astechconsulting.com/', name: 'AsTech_infosec' %>
  <%= render 'sponsor', src: 'sponsors/brinqa.jpg', href: 'http://www.brinqa.com/solutions/information-security/', name: 'brinqa' %>
  <%= render 'sponsor', src: 'sponsors/cenzic_dark.gif', href: 'https://www.cenzic.com/index.html', name: 'cenzic' %>
  <%= render 'sponsor', src: 'sponsors/checkmarx.jpg', href: 'http://www.checkmarx.com/', name: 'checkmarx' %>
  <%= render 'sponsor', src: 'sponsors/Good Logo_PMS485_RGB-jpg (1).png', href: 'http://www1.good.com/', name: 'GOOD_technology' %>
  <%= render 'sponsor', src: 'sponsors/netspi.jpg', href: 'https://www.netspi.com/', name: 'netspi' %>
  <%= render 'sponsor', src: 'sponsors/nth.png', href: 'http://www.nth.com/', name: 'Nth_Gen_CA' %>
  <%= render 'sponsor', src: 'sponsors/quotium.png', href: 'http://www.quotium.com/index.php', name: 'quotium' %>
  <%= render 'sponsor', src: 'sponsors/swamp.png', href: 'http://continuousassurance.org/', name: 'swampteam' %>
  <%= render 'sponsor', src: 'sponsors/whitehat.jpg', href: 'https://www.whitehatsecurity.com/', name: 'whitehatsec' %>
  <h3>Silver Sponsors</h3>
  <%= link_to(image_tag('sponsors/cigital.jpg'), "http://cigital.com") %>
  <%= link_to(image_tag('sponsors/contrast.jpg'), "http://www1.contrastsecurity.com") %>
  <%= link_to(image_tag('sponsors/enigmedia.jpg'), 'http://enigmedia.es') %>
  <%= link_to(image_tag('sponsors/gold_150x45.png'), "http://www1.good.com/") %>
  <%= link_to(image_tag('sponsors/imperva.png'), "https://www.imperva.com/index.html") %>
  <h4>Misc Sponsors</h4>
  <%= link_to(image_tag('sponsors/technical-connections.jpg', width: '193px'), "http://tci-la.com/") %>
  <%= link_to(image_tag('sponsors/rackspace.jpg'), "http://rackspace.com") %>
  <%= link_to(image_tag('sponsors/Mandiant_logo_150x45.gif'), "http://mandiant.com") %>
</div>