<%= form_for(@speaker, :html => {:class=>"form-horizontal"}) do |f| %>
  <% if @speaker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@speaker.errors.count, "error") %> prohibited this speaker from being saved:</h2>

      <ul>
      <% @speaker.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field row-fluid">
    <%= f.label :name, 'Your name', :class => "control-label lead required" %>
    <%= f.text_field :name %>
  </div>
  <div class="field row-fluid">
    <%= f.label :email, :class => "control-label lead required"  %>
    <%= f.text_field :email, :placeholder => "Not shared with anyone"  %>
  </div>
  <div class="field row-fluid">
    <%= f.label :abstract, :class => "control-label lead required"  %>
    <%= f.text_area :abstract %>
  </div>
  <div class="field row-fluid">
    <%= f.label :training, "Is this for training?", :class => "control-label lead"  %>
    <div class="make-switch">
      <%= f.check_box :training %>
    </div>
  </div>
  <div class="field row-fluid" style="clear:both">
    <%= f.label :bio, :class => "control-label lead bigbox"  %>
    <%= f.text_area :bio, :placeholder => "Displayed on your profile page"  %>
  </div>
  <div class="field row-fluid">
    <%= f.label :website, :class => "control-label lead"  %>
    <%= f.text_field :website, :placeholder => "blog, home page, etc."  %>
  </div>
  <div class="field row-fluid">
    <%= f.label :image_url, 'Profile image url', :class => "control-label lead" %>
    <%= f.text_field :image_url, :placeholder => "https:// urls only" %>
  </div>
  <div class="field row-fluid">
    <%= f.label :twitter_handle, :class => "control-label lead"  %>
    <%= f.text_field :twitter_handle, :placeholder => "@ sign optional"  %>
  </div>
  <div class="field row-fluid">
    <%= f.label :title, :class => "control-label lead"  %>
    <%= f.text_field :title %>
  </div>
  <div class="field row-fluid">
    <%= f.label :company, :class => "control-label lead"  %>
    <%= f.text_field :company %>
  </div>
  <div class="actions jumbotron">
    <%= f.submit 'Submit', :class => 'btn btn-primary' %>
  </div>
<% end %>
