<div class="lead"><%=link_to 'CFP', cfp_speakers_path %> is open until October 15, 2013.</div>

<%= link_to 'Submit Abstract', new_speaker_path, :class => 'btn btn-primary' %>

<h1>Confirmed Speakers</h1>
      <div class="row-fluid">
        <div class="span9">
          <div class="row-fluid">
<% @speakers.where(:confirmed => true).shuffle.each_with_index do |speaker, index| -%>
            <div class="span6">
              <p><%= image_tag speaker.image_url%></p>
              <h3><%= link_to speaker.name, speaker %></h3>
              <p><%= truncate(speaker.bio, length: 300, omission: '') { link_to "...(continued)", speaker } %></p>
            </div><!--/span-->
  <% if (index + 1) % 2 == 0 -%>
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->
      <div class="row-fluid">
        <div class="span9">
          <div class="row-fluid">
  <% end -%>
<% end -%>
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->


