<div class="lead"><%=link_to 'CFP', cfp_speakers_path %> is open until October 15, 2013.</div>

<%= link_to 'Submit Abstract', new_speaker_path, :class => 'btn btn-primary' %>

<h1>Confirmed Speakers</h1>
      <div class="row-fluid">
        <div class="span9">
          <div class="row-fluid">
<% @speakers.where(:confirmed => true).shuffle.each_with_index do |speaker, index| -%>
            <div class="span4">
              <h3><%= speaker.name %></h3>
              <p><%= truncate speaker.bio %></p>
              <p><%= link_to 'More', speaker, :class => 'btn' %></p>
            </div><!--/span-->
  <% if (index + 1) % 3 == 0 -%>
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->
      <div class="row-fluid">
        <div class="span9">
          <div class="row-fluid">
  <% end -%>
<% end -%>
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->


