<p><%= image_tag @speaker.image_url, :width => 150 %></p>
<p>
  <h1><%= @speaker.name %></h1>
</p>
<% if @speaker.twitter_handle %>
<p><a href="https://twitter.com/<%=@speaker.twitter_handle%>" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow <%= @speaker.twitter_handle %></a></p>
<p>
<% end %>
<% if @speaker.website.present? %>
  <strong>Website:</strong>
  <%= link_to @speaker.website, @speaker.website %>
<% end %>
</p>

<p>
  <strong>Bio:</strong>
  <blockquote>
    <pre>
      <%= @speaker.bio %>
    </pre>
  </blockquote>
</p>

<%= link_to 'Edit', edit_speaker_path(@speaker) %>
