<!DOCTYPE html>
<html>
<head>
  <title>AppSec California 2014 - Surf, Sand, and Security</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
  <meta name="twitter:widgets:csp" content="on">
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="OWASP AppSec California">
  <meta name="author" content="OWASP California">
</head>
<body>
<% [:notice, :error, :alert].each do |level| %>
  <% unless flash[level].blank? %>
    <div class="alert <%= flash_class(level) %>">
      <a class="close" href="#">×</a>
      <%= content_tag :p, flash[level] %>
    </div>
  <% end %>
<% end %>

  <div class="container">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">AppSec California 2014</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><%= link_to 'Home', root_path %></li>
              <li><%= link_to 'Speakers', speakers_path %></li>
              <li><%= link_to 'Location', location_path %></li>
              <li><%= link_to 'CFP', cfp_speakers_path %></li>
              <li><%= link_to 'Contact', contact_path %></li>
              <li><%= link_to 'Code Of Conduct', '/CodeOfConduct' %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span9">
          <%= yield %>
        </div>
        <div class="span3">
          <div class="well sidebar-nav">
            <a class="twitter-timeline" href="https://twitter.com/AppSecCali" data-widget-id="374419775272673280">Tweets by @AppSecCali</a>
          </div><!--/.well -->
        </div><!--/span-->
      </div>
    </div>

    <footer>
      <p>&copy; <%= brand_name %> 2013</p>
    </footer>
  </div>

  <%= javascript_include_tag "application" %>
</body>
</html>
