<!DOCTYPE html>
<html>
<head>
  <title><%= @title || "AppSec California 2014 - Surf, Sand, and Security" %></title>
  <%= stylesheet_link_tag 'application' %>
  <!-- we send emails with sendgrid -->
  <meta name="twitter:widgets:csp" content="on">
  <meta property="twitter:account_id" content="4503599627397241" />
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png', :type => 'image/x-icon' %>
  <%= favicon_link_tag 'favicon.png'%>
  <%= favicon_link_tag 'favicon.png', :rel => 'apple-touch-icon', :type => 'image/png' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="OWASP AppSec California">
  <meta name="author" content="Neil Matatall">
  <meta property="og:url"             content="https://appseccalifornia.org" />
  <meta property="og:title"           content="OWASP AppSec California 2014 Conference" />
  <meta property="og:description"     content="AppSec California 2014 is a conference focused on web application security held in beautiful Santa Monica, CA at the Annenberg Community Beach House Jan 27-28th, 2014" />
  <meta property="og:image"           content="http://rlv.zcache.com/owasp_logo_stickers_small-r84e815260d0a4b82b13c55fc0b1d9778_v9waf_8byvr_512.jpg" />
</head>
<body>
  <script type="application/json" id="growl-data">
    <%= [:notice, :error, :warning].reject {|level| flash[level].blank?}.map {|level| {level => flash[level]}}.to_json %>
  </script>
  <%= image_tag 'banner.png', :class => 'hidden-phone hidden-tablet', :id => 'banner'%>
  <div class="container" style="width:100%;">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">AppSec California 2014</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <%= nav_link 'Schedule', schedule_path %>
              <%= nav_link 'Speakers', speakers_path %>
              <%= nav_link 'Location', location_path %>
              <%= nav_link 'Sponsors', sponsors_path %>
              <%= nav_link 'Sponsorship Opportunities', sponsorship_path %>

              <li class="dropdown hidden-phone hidden-tablet <%= maybe_add_active_to_about %>">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Contact', contact_path %></li>
                  <li><%= link_to 'Hotels', hotels_path %></li>
                  <li><%= link_to 'Privacy Policy', privacy_path %></li>
                  <li><%= link_to 'Code Of Conduct', code_of_conduct_path %></li>
                  <li><%= link_to 'Volunteer', volunteers_path %></li>
                </ul>
              </li>
              <%= nav_link 'Registration', registration_path, "background-color: #006ccc;" %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <%= render 'shared/cfp_banner' %>
      <div class="row-fluid">
        <div class="span9">
          <%= yield %>
        </div>
        <div class="span3">
          <div class="well sidebar-nav text-center sponsor-logos" style="background-color: #333;">

            <h3> Newsletter <h3>

            <%= form_for @beta_request, class: 'form-inline' do |f| %>
              <%= f.text_field :name, placeholder: "Name" %>
              <%= f.text_field :email, placeholder: "Email" %><br>
              <%= f.button 'Sign up for announcements', class: 'btn btn-primary' %>
            <% end -%>

            <p class="hidden-phone hidden-tablet"><a href="https://twitter.com/appseccali" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @appseccali</a></p>

            <div class="text-center sponsors">
              <h2>Diamond Sponsor</h2>
              <%= image_tag('sponsors/db-networks-logo.png') %>
              <h3>Platinum Sponsors</h3>
              <%= image_tag('sponsors/qualys.png') %>
              <%= image_tag('sponsors/SecurityInnovation.png') %>
              <h3>Gold Sponsors</h3>
              <%= image_tag('sponsors/accuvant.jpg') %>
              <%= image_tag('sponsors/arxan.jpg') %>
              <%= image_tag('sponsors/astech.jpg') %>
              <%= image_tag('sponsors/brinqa.jpg') %>
              <%= image_tag('sponsors/cenzic.gif') %>
              <%= image_tag('sponsors/checkmarx.png') %>
              <%= image_tag('sponsors/Good Logo_PMS485_RGB-jpg (1).png') %>
              <%= image_tag('sponsors/netspi.jpg') %>
              <%= image_tag('sponsors/quotium.png') %>
              <%= image_tag('sponsors/swamp.png') %>
              <%= image_tag('sponsors/whitehat.jpg') %>
              <h3>Silver Sponsors</h3>
              <%= image_tag('sponsors/cigital.jpg') %>
              <%= image_tag('sponsors/contrast.jpg') %>
              <%= image_tag('sponsors/enigmedia.jpg') %>
              <%= image_tag('sponsors/gold_150x45.png') %>
              <h4>Misc Sponsors</h4>
              <%= image_tag('sponsors/technical-connections.jpg', width: '193px') %>
              <%= image_tag('sponsors/rackspace.jpg') %>
              <%= image_tag('sponsors/Mandiant_logo_150x45.gif') %>
            </div>
          </div><!--/.well -->
        </div><!--/span-->
      </div>
    </div>

    <footer class="text-center">
      <p>&copy; <%= brand_name %> 2013</p>
    </footer>
  </div>
  <%= javascript_include_tag "application", async: Rails.env.production? %>
</body>
</html>
