<!DOCTYPE html>
<html>
<head>
  <title>AppSec California 2014 - Surf, Sand, and Security</title>
  <%= stylesheet_link_tag 'application' %>
  <!-- we send emails with sendgrid -->
  <meta name="twitter:widgets:csp" content="on">
  <meta property="twitter:account_id" content="4503599627397241" />
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png', :type => 'image/x-icon' %>
  <%= favicon_link_tag 'favicon.png'%>
  <%= favicon_link_tag 'favicon.png', :rel => 'apple-touch-icon', :type => 'image/png' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="OWASP AppSec California">
  <meta name="author" content="Neil Matatall">
  <meta property="og:url"             content="https://appseccalifornia.org" />
  <meta property="og:title"           content="OWASP AppSec California 2014 Conference" />
  <meta property="og:description"     content="AppSec California 2014 is a conference focused on web application security held in beautiful Santa Monica, CA at the Annenberg Community Beach House Jan 27-28th, 2014" />
  <meta property="og:image"           content="http://rlv.zcache.com/owasp_logo_stickers_small-r84e815260d0a4b82b13c55fc0b1d9778_v9waf_8byvr_512.jpg" />
</head>
<body>
  <script type="application/json" id="growl-data">
    <%= [:notice, :error, :warning].reject {|level| flash[level].blank?}.map {|level| {level => flash[level]}}.to_json %>
  </script>
  <%= image_tag 'banner.png', :class => 'hidden-phone hidden-tablet', :id => 'banner'%>
  <div class="container" style="width:100%;">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">AppSec California 2014</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><%= link_to 'Speakers', speakers_path %></li>
              <li><%= link_to 'Call For Papers/Training', cfp_speakers_path %></li>
              <li><%= link_to 'Location', location_path %></li>
              <li><%= link_to 'Training', training_path %></li>
              <li><%= link_to 'Sponsorship Opportunities', sponsorship_path %></li>
              <li class="dropdown hidden-phone hidden-tablet">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Contact', contact_path %></li>
                  <li><%= link_to 'Privacy Policy', privacy_path %></li>
                  <li><%= link_to 'Code Of Conduct', code_of_conduct_path %></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container-fluid">
     <div class="alert-message warning">
        <p>Sponsorship information has been added to the <%= link_to 'sponsorship page', sponsorship_path%>! Download the sponsor packet <%= link_to 'here', '/AppSecCalifornia-Sponsors.pdf'%>.</p>
      </div>
      <div class="row-fluid">
        <div class="span9">
          <%= yield %>
        </div>
        <div class="span3">
          <div class="well sidebar-nav">
            <%= link_to(image_tag('logo_placeholder.png'), sponsorship_path) %>
            <a class="twitter-timeline" href="https://twitter.com/AppSecCali" data-widget-id="374419775272673280">Tweets by @AppSecCali</a>
          </div><!--/.well -->
        </div><!--/span-->
      </div>
    </div>

    <footer>
      <p>&copy; <%= brand_name %> 2013</p>
    </footer>
  </div>
  <%= javascript_include_tag "application", async: Rails.env.production? %>
</body>
</html>
