<!DOCTYPE html>
<html>
<head>
  <title>AppSec California 2014 - Surf, Sand, and Security</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
  <meta name="twitter:widgets:csp" content="on">
  <%= favicon_link_tag 'favicon.png', :type => 'image/x-icon' %>
  <%= favicon_link_tag 'favicon.png'%>
  <%= favicon_link_tag 'favicon.png', :rel => 'apple-touch-icon', :type => 'image/png' %>
  <meta content="<%= asset_path('favicon.png') %>" itemprop="image">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="OWASP AppSec California">
  <meta name="author" content="OWASP California">

  <meta property="og:url"             content="https://appseccalifornia.org" />
  <meta property="og:title"           content="OWASP AppSec California 2014 Conference" />
  <meta property="og:description"     content="AppSec California 2014 is a conference focused on web application security held in beautiful Santa Monica, CA at the Annenberg Community Beach House Jan 27-28th, 2014" />
  <meta property="og:image"           content="http://rlv.zcache.com/owasp_logo_stickers_small-r84e815260d0a4b82b13c55fc0b1d9778_v9waf_8byvr_512.jpg" />
</head>
<body>
  <div class="container">
  <% [:notice, :error, :alert].each do |level| %>
    <% unless flash[level].blank? %>
      <div class="alert-message <%= flash_class(level) %>">
        <%= content_tag :p, flash[level] %>
      </div>
    <% end %>
  <% end %>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">AppSec California 2014</a>
          <div>
            <ul class="nav">
              <li><%= link_to 'Speakers', speakers_path %></li>
              <li><%= link_to 'Training', training_path %></li>
              <li><%= link_to 'Location', location_path %></li>
              <li><%= link_to 'Call For Papers/Training', cfp_speakers_path %></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Contact', contact_path %></li>
                  <li><%= link_to 'Code Of Conduct', code_of_conduct_path %></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <%= image_tag 'banner.png', :class => 'hidden-phone hidden-tablet' %>
      <%= render 'shared/cfp_banner' unless request.original_url =~ /#{cfp_speakers_path}/ %>
      <div class="row-fluid" style="margin-top:-10px;">
        <div class="span9">
          <%= yield %>
        </div>
        <div class="span3">
          <div class="well sidebar-nav">
            <a class="twitter-timeline" href="https://twitter.com/AppSecCali" data-widget-id="374419775272673280">Tweets by @AppSecCali</a>
          </div><!--/.well -->
        </div><!--/span-->
      </div>
    </div>

    <footer>
      <p>&copy; <%= brand_name %> 2013</p>
    </footer>
  </div>

  <%= javascript_include_tag "application" %>
</body>
</html>
