<!DOCTYPE html>
<html>
<head>
  <title>RecruitLy</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-narrow">
    <%= yield %>

    <div class="footer">
      <p>&copy; <%= brand_name %> 2013</p>
    </div>
  </div>

  <%= javascript_include_tag "application" %>
</body>
</html>
